 .my-none {
   text-align: center;
   padding-bottom: .5rem;
   img {
     margin-top: 1.5rem;
     width: 3rem;
     height: 3rem;
   }
   p {
     margin-top: .42rem;
     font-size: .42rem;
     color: #989898;
   }
 }
