.activity {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  .p0 {
    padding-top: 0 !important;
  }
  .top {
    padding: .5rem .3rem .45rem .3rem;
    border-bottom: .36rem solid #f6f6f6;
    .title {
      font-size: .54rem;
      color: #464646;
      font-weight: 600;
      line-height: .86rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /*! autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }
    .data {
      display: flex;
      margin-top: .54rem;
      span {
        font-size: .4rem;
        color: #989898;
        margin-left: .16rem;
        margin-right: .78rem;
      }
      img:nth-child(1) {
        width: .46rem;
        height: .34rem;
      }
      img:nth-child(3) {
        width: .41rem;
        height: .39rem;
      }
    }
    .infor {
      margin-top: .82rem;
      .df {
        display: flex;
        margin-bottom: .36rem;
        &:nth-child(1) {
          img {
            width: .38rem;
            height: .38rem;
          }
        }
        &:nth-child(2) {
          img {
            width: .35rem;
            height: .41rem;
          }
        }
        &:nth-child(3) {
          img {
            width: .36rem;
            height: .39rem;
          }
        }
        p {
          font-size: .42rem;
          color: #989898;
          margin-left: .3rem;
        }
      }
    }
  }
  .txt {
    padding: .3rem;
    border-bottom: .36rem solid #f6f6f6;
    p {
      line-height: 21px;
    }
    * {
      font-size: 14px;
      max-width: 100%;
    }
  }
  .activety-comment {
    padding: .47rem .34rem .36rem .34rem;
    border-bottom: .36rem solid #f6f6f6;
    .activety-comment-title {
      padding-bottom: .48rem;
      display: flex;
      border-bottom: 0.01rem solid #d4d4d4;
      div {
        width: .1rem;
        height: .3rem;
        background-color: #464646;
        margin-top: .08rem;
      }
      p {
        font-size: .48rem;
        color: #464646;
        margin-left: .27rem;
      }
    }
  }
  .sign-list {
    padding: .47rem .34rem .56rem .34rem;
    .sign-title {
      display: flex;
      padding-bottom: .48rem;
      border-bottom: 0.01rem solid #d4d4d4;
      div {
        width: .1rem;
        height: .3rem;
        background-color: #464646;
        margin-top: .08rem;
      }
      p {
        font-size: .48rem;
        color: #464646;
        margin-left: .27rem;
      }
    }
    .sign-more {
      font-size: .42rem;
      color: #464646;
      text-align: center;
      height: 1rem;
      line-height: 1rem;
      border-top: .01rem solid #d4d4d4;
      margin-top: .3rem;
      img {
        width: .28rem;
        height: .26rem;
        vertical-align: baseline;
        margin-left: .2rem;
      }
    }
    .sign-div {
      display: flex;
      justify-content: space-between;
      margin-top: .78rem;
      div {
        display: flex;
        .sign-name {
          font-size: .42rem;
          color: #464646;
          margin-left: .46rem;
          line-height: 1.2rem;
        }
      }
      .sign-date {
        font-size: .4rem;
        color: #989898;
        line-height: 1.2rem;
      }
      img {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 100%;
      }
    }
  }
  .active-bottom {
    height: 1.46rem;
    width: 100%;
    display: flex;
    line-height: 1.46rem;
    .c3db8 {
      color: #3db8a8!important;
    }
    div {
      line-height: .68rem;
      height: .68rem;
      margin-top: .39rem;
      flex: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      padding-top: .1rem;
      p {
        font-size: .38rem;
        color: #989898;
        line-height: .68rem;
        height: .68rem;
        margin-left: .23rem;
      }
    }
    div:nth-child(1) {
      border-right: .01rem solid #989898;
      img {
        width: .44rem;
        height: .45rem;
      }
    }
    div:nth-child(2) {
      img {
        width: .5rem;
        height: .44rem;
        margin-top: .1rem;
      }
    }
    div:nth-child(3) {
      height: 1.46rem;
      line-height: 1.46rem;
      text-align: center;
      margin-top: 0;
      font-size: .48rem;
      color: #fff;
      background-color: #ff8d36;
      width: 5.85rem;
      flex: 1.8;
      padding-top: 0;
      &.status {
        background-color: #f2f2f2;
        color: #8f8f94;
      }
    }
  }
}
