.comment-list {
  .comment-more {
    font-size: .42rem;
    color: #464646;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    border-top: .01rem solid #d4d4d4;
    margin-top: .3rem;
    img {
      width: .28rem;
      height: .26rem;
      vertical-align: baseline;
      margin-left: .2rem;
    }
  }
}
