.pmDetail {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  .pm-content {
    .d1 {
      border-bottom: .36rem solid #f6f6f6;
    }
    .d1-option {
      height: 1.2rem;
      line-height: 1.2rem;
      font-size: .48rem;
      color: #989898;
      position: relative;
      span {
        margin-left: .05rem;
      }
      &.is-selected {
        border: none;
        color: #3db8a8;
        font-size: .54rem;
        .tab-item-bottom {
          position: absolute;
          height: .1rem;
          background-color: #3db8a8;
          width: .96rem;
          left: 40%;
          top: 1.1rem;
        }
        .mint-tab-item-label {
          font-size: .54rem;
        }
      }
      .mint-tab-item-label {
        font-size: .48rem;
        margin-top: -.2rem;
      }
    }
  }
}
