.renovation-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  .catesShadow {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 9;
    overflow: hidden;
  }
  .cates {
    height: 100%;
    position: fixed;
    top: 0;
    right: -9.35rem;
    background-color: #fff;
    z-index: 91;
    width: 9.35rem;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    .cates-content {
      flex: 1;
      overflow-y: scroll;
    }
    .cates-confirmation {
      flex: 1;
      height: 1.44rem;
      max-height: 1.44rem;
      display: flex;
      div {
        flex: 1;
        height: 1.44rem;
        line-height: 1.44rem;
        text-align: center;
        color: #fff;
        font-size: .48rem;
        background-color: #989898;
      }
      div:nth-child(2) {
        background-color: #3db8a8;
      }
    }
    &.catesleft {
      animation: catesleft 0.3s forwards;
      -webkit-animation: catesleft 0.3s forwards;
      /*Safari and Chrome*/
    }
    &.catesright {
      animation: catesright 0.3s forwards;
      -webkit-animation: catesright 0.3s forwards;
    }
    @keyframes catesleft {
      from {
        right: -9.35rem;
      }
      to {
        right: 0;
      }
    }
    @keyframes catesright {
      from {
        right: 0;
      }
      to {
        right: -9.35rem;
      }
    }
    .cates-title {
      height: 1.92rem;
      line-height: 1.92rem;
      text-align: center;
      font-size: .54rem;
      color: #464646;
      border-bottom: .01rem solid #f1f1f1;
      flex: 1;
      max-height: 1.92rem;
    }
    .cates-div {
      padding: .44rem;
      padding-right: 0;
      p {
        font-size: .42rem;
        color: #464646;
      }
      .cates-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        div {
          height: .9rem;
          line-height: .9rem;
          width: 2.47rem;
          text-align: center;
          background-color: #f6f6f6;
          font-size: .4rem;
          color: #464646;
          margin-top: .44rem;
          margin-right: .44rem;
          &.select {
            background-color: #3db8a8;
            color: #fff;
          }
        }
      }
    }
  }
  .content {
    padding-top: 2.72rem;
  }
  .d1 {
    padding: 0 2.8rem 0 2.4rem;
    position: fixed;
    top: 1.47rem;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 1.25rem;
    &.d1Top {
      animation: d1top 0.3s forwards;
      -webkit-animation: d1top 0.3s forwards;
      /*Safari and Chrome*/
    }
    &.d1Bottom {
      animation: d1bottom 0.3s forwards;
      -webkit-animation: d1bottom 0.3s forwards;
    }
    @keyframes d1top {
      from {
        top: 1.47rem
      }
      to {
        top: 0
      }
    }
    @keyframes d1bottom {
      from {
        top: 0
      }
      to {
        top: 1.47rem
      }
    }
  }
  .d1-option {
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: .48rem;
    color: #989898;
    position: relative;
    span {
      margin-left: .05rem;
    }
    &.is-selected {
      border: none !important;
      color: #464646 !important;
      font-size: .54rem !important;
      .tab-item-bottom {
        position: absolute;
        height: .1rem;
        background-color: #3db8a8;
        width: .96rem;
        left: 30%;
        top: 1.1rem;
      }
    }
    .mint-tab-item-label {
      font-size: .54rem;
      margin-top: -.2rem;
    }
  }
}
