.bottomLoad {
  height: 1.7rem;
  width: 100%;
  background-color: #f6f6f6;
  padding: .3rem;
  .load {
    width: 7.46rem;
    height: 1.1rem;
    border-radius: .55rem;
    color: #3db8a8;
    border: .02rem solid #3db8a8;
    font-size: .42rem;
    text-align: center;
    margin: 0 auto;
    line-height: 1.1rem;
  }
}
