.menuTop {
  border-bottom: 1px solid #f1f1f1;
  background-color: #fff;
  padding: .28rem;
  display: flex;
  justify-content: space-between;
  transform: translate3D(0, 0, 0);
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 9991;
  &.menuScorllTop {
    animation: mymove 0.3s forwards;
    -webkit-animation: mymove 0.3s forwards;
    /*Safari and Chrome*/
  }
  @keyframes mymove {
    from {
      transform: translate3D(0, 0, 0);
    }
    to {
      transform: translate3D(0, -1.47rem, 0);
    }
  }
  @keyframes mymove1 {
    from {
      transform: translate3D(0, -1.47rem, 0);
    }
    to {
      transform: translate3D(0, 0, 0);
    }
  }
  &.menuScorllBottom {
    animation: mymove1 0.3s forwards;
    -webkit-animation: mymove1 0.3s forwards;
  }
  .data {
    display: flex;
    img {
      height: .84rem;
    }
    .a {
      margin-left: .1rem;
      p:nth-child(1) {
        font-size: .36rem;
        color: #8f8f94;
        margin-top: .05rem;
        white-space: nowrap;
      }
      p:nth-child(2) {
        font-size: .33rem;
        color: #3db8a8;
        margin-top: .05rem;
        display: block;
        white-space: nowrap;
      }
    }
  }
  .land {
    width: 2.48rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    background-color: #3db8a8;
    color: #fff;
    font-size: .36rem;
    border-radius: .4rem;
  }
}
