.myAssess {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  .content{
      padding-top: 0;
  }
  .ass-type-list {
    display: flex;
    list-style: none;
    padding: 0 .6rem;
    height: 1.44rem;
    line-height: 1.44rem;
    background-color: #f6f6f6;
    justify-content: space-between;
    li {
      font-size: .45rem;
      color: #989898;
      line-height: 1.44rem;
    }
    .select-list {
      color: #3db8a8;
      border-bottom: .1rem solid #3db8a8;
    }
  }
}
